* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  background-color: #dce9fe;
  color: #1d40b0;
}

header,
section {
  width: 100%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4.8rem;
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.5rem;
  color: #a5b3e1;
  margin-bottom: 15px;
  border-bottom: 2px solid #a5b3e1;
  padding-bottom: 20px;
  width: 800px;
}

h3 {
  text-align: center;
  background-color: #eff6ff;
  border-radius: 3px;
  margin-bottom: 7px;
  padding: 8px 0;
  font-size: 2rem;
}

.section-content {
  background-color: #dce9fe;
  padding: 15px 10px;
  margin-bottom: 7px;
  border-radius: 3px;
  font-size: 1.3rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #1d40b0;
  display: block;
  width: max-content;
  border-bottom: 1px solid transparent;
}

a:hover {
  border-bottom: 1px solid #1d40b0;
}

img {
  width: 70px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 45px 0;
}

.container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-category {
  margin-bottom: 15px;
  width: 800px;
}

.search-bar {
  margin-bottom: 30px;
  border: 2px solid #bedbfe;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 325px;
  border-radius: 5px;
  padding: 10px;
}

.search-bar input {
  outline: none;
  border: none;
  color: #1d40b0;
  font-weight: 700;
  font-size: 1.6rem;
  /* flex-grow: 1; */
  margin-left: 10px;
  width: 100%;
}

.search-bar button {
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #1d40b0;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  padding: 8px 20px;
}

.search-icon svg {
  width: 20px;
}

.img-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  opacity: 0.5;
}
